.headerHolder{
  display: flex;
  justify-content: center;
  padding: 1vh 1vw;
}

.headerBodyHolder{
  width: 100%;
}

.burgerButton{
  aspect-ratio: 1/1;
  width: 10vw;
  background-color: transparent;
  border: none;
  background-image: url('../Resources/burger-menu.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}