.listDataBigBody{
  display: grid;
  width: calc(100% - 4vw);
  padding: 0 2vw;
  grid-template-areas: 
    'TitleBar TitleBar TitleBar TitleBar TitleBar'
    'Store    Store    Price     Decrease Increase';
  
  border-top: 2px solid rgba(255, 255, 255, 1)
}

.itemNameDisplay{
  font-size: 1.5rem;
  font-weight: 300;
}

#itemName{
  grid-area: TitleBar;
  width: 100%;
}

.itemShopDisplay{
  font-size: 1rem;
  align-self: center;
  font-weight: 300;
}

#itemShop{
  grid-area: Store;
  width: 100%;
}

.itemPriceDisplay{
  font-size: 1rem;
  font-weight: 300;
  align-self: center;
}


#itemPrice{
  grid-area: Price;
  width: 100%;
}

.quanityButton{
  height: 70%;
  aspect-ratio: 1/1;
  width: auto;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  align-self: center;

}

#decreaseButton{
  grid-area: Decrease;
  background-image: url('../Resources/ReduceItem.svg');
}

#increaseButton{
  grid-area: Increase;
  background-image: url('../Resources/IncreaseItem.svg');
}